.main-footer {
  color:#666;
  display:flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 1rem 0;

  &__copyright {
   margin: 0;
 }
}

.main-footer-navigation {
  &__item  {
    color: #999;
    margin-right: 1rem;
    &:last-child  {
      margin-right: 0;
    }
  }
}
