.main-header {
  background: rgba(249,249,249,.97);
  border-top: 2px solid $yale-blue--light;
  border-bottom: 1px solid #f1f1f2;
  display: flex;
  flex-direction: column;
  padding:1.5rem;
  width:100%;

  @include bp(sm)  {
    align-items: center;
    flex-direction: row;
  }

  @include bp(wd)  {
    border: none;
    border-right: 1px solid #f1f1f2;
    flex-direction: column;
  }

}

.main-header__logo {
  display: none;

  @include bp(sm) {
    display: block;
    order: 1;
    margin-right: .5rem;
  }

  @include bp(lg) {
    flex: 1;
    margin-right: 0;
  }

  @include bp(wd)  {
    flex: 0;
  }
}

.main-header__avatar {
  border-radius: 50%;
  display: block;
  height: 40px;
  width: 40px;

  @include bp(wd)  {
    height: 110px;
    width: 110px;
    background:white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
    padding: 5px;
    margin-bottom: 1rem;
  }
}

.main-header__wordmark {
  font-weight: 700;
  color: black;
  text-align: left;
  font-size: 1.4rem;
  margin-bottom: 0;
  line-height: 1.3;

  @include bp(sm) {
    order: 2;
  }

  @include bp(md)  {
    flex: 1;
  }

  @include bp(lg) {
    text-align: center;
  }

  @include bp(wd)  {
    flex: 0;
    font-size: 2.4rem;
  }
}

.main-header__tagline {
  display: none;

  @include bp(sm) {
    display:block;
    font-size: 1.2rem;
    color: #999;
    font-weight: 400;
  }

  @include bp(wd) {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
}

.main-nav {
  display: flex;

  @include bp(sm) {
    text-align: right;
    order: 3;
    flex: 1;
  }

  @include bp(sm)  {
    justify-content: flex-end;
  }

  @include bp(wd)  {
    flex-direction: column;
    justify-content: flex-start;
    text-align:center;
  }
}

.main-nav__link {
    margin-right: 1rem;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    padding:.5rem 0;

    &.active {
      border-bottom: 2px solid orange;
    }

    @include bp(wd) {
      font-size: 1.6rem;
      margin-right: 0;
    }
}

