.main-header {
  background: rgba(249,249,249,.97);
  border-top: 2px solid $yale-blue--light;
  border-bottom: 1px solid #f1f1f2;
  display: flex;
  flex-direction: column;
  padding:1.5rem;
  width:100%;

  @include bp(sm)  {
    align-items: center;
    flex-direction: row;
  }

  @include bp(wd)  {
    border: none;
    border-right: 1px solid #f1f1f2;
    flex-direction: column;
  }

}

.logo {

  @include bp(sm)  {
    display: flex;
    align-items:center;
  }

  @include bp(wd)  {
    flex-direction: column;
  }

  &__wordmark  {
    font-weight: 700;
    color: black;
    font-size: 1.4rem;
    text-decoration: none;
    
    @include bp(sm) {
      order: 2;
      font-size: 1.5rem;
    }

    @include bp(wd)  {
      font-size: 2.2rem;
    }
  }

  &__avatar {
    display:none;

    @include bp(sm)  {
      display:block;
      margin-right: .7rem;
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }
    
    @include bp(wd)  {
      height: 110px;
      width: 110px;
      background:white;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
      padding: 5px;
      margin-bottom: 1rem;
      margin-right:0;
    }
  }
}

.main-nav {
  display: flex;

  @include bp(sm) {
    text-align: right;
    order: 3;
    flex: 1;
  }

  @include bp(sm)  {
    justify-content: flex-end;
  }

  @include bp(wd)  {
    flex-direction: column;
    justify-content: flex-start;
    text-align:center;
  }
}

.main-nav__link {
    margin-right: 1rem;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    padding:.5rem 0;

    &.active {
      border-bottom: 2px solid orange;
    }

    @include bp(wd) {
      font-size: 1.6rem;
      margin-right: 0;
    }
}

