@import 'variables';
@import 'mixins';
@import 'base';
@import 'layout';
@import 'header';


.table {
  width: 100%;
  border: 1px solid #eee;
  border-collapse:collapse;
  font-size: 13px;
  tr:not(.htr) {
   counter-increment: rowNumber -1;
  }
  th {
    text-align: left;
    padding: 5px;
    background: #eee;
  }
  td {
    padding: 5px;
    border: 1px solid #eee;
    border-bottom: none;
    &:first-child::before {
      content: counter(rowNumber);
      min-width:1em;
    }
  }
}

footer {
  width: 100%;
//  font-size: 13px;
//  margin: 1rem 0;
//  color: #999;
//  width: 100%;
//  p {
//    margin: 0;
//  }
//  a {
//    color: #999;
//  }
//}
//
//footer{
//  a{color:black;}
//  //max-width: $container-max-width;
//  margin: 0 auto;
//  padding:2rem 0;
//  h4, p {
//    margin: 0;
//  }
}

