:root {
  --background: rgb(242,242,247);
  --text-color: black;
  --secondary-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(28,28,30);
    --text-color: white;
    --secondary-color: white;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.4rem;
  text-align: center;
  background: var(--background);
  color: var(--text-color);
  font-family: 'SFMono-Regular',courier, monospace;
  //font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir","Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans","Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  
  @media (min-width: 600px) {
    font-size: 1.6rem;
    text-align: left;
  }
}

.container {
  margin: 0 auto;
  max-width: 90%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  margin: 0;
  margin-bottom: 5px;
}

p {
  margin: 5px 0;
  color: var(--secondary-color);
}

.mast {
  margin-bottom: 2rem;
}

a {
  color: rgb(142,142,147);
}

.bold {
  font-weight: bold;
}
