%footer.main-footer
  %p.main-footer__copyright Kyle Tress #{Date.today.year}
  %nav.main-footer-navigation
    - data.nav.footer.each do |link|
      = link_to link.title, link.url, class: 'main-footer-navigation__item'
