<nav>
  <a href="/"><%= image_tag 'kyle-tress-headshot-small.jpg', height: '45', width: '45', class: 'avatar' %></a>
  <%= link_to 'Home', '/'%>
  <%= link_to 'About', '/about' %>
  <%= link_to 'Reading List', '/reading-list' %>
</nav>
