<header class="main-header">
  <div class="brand">Kyle Tress<br><span>Olympian. Rails Developer. Yale Student.</span></div>
  <div class="logo">
    <a href="/"><%= image_tag 'kyle-tress-headshot-small.jpg', height: '40', width: '40', class: 'avatar' %></a>
  </div> 
  <nav class="main-nav">
    <% data.nav.header.each do |nav| %>
      <%= link_to nav.title, nav.url, class: 'active' %>
    <% end %> 
  </nav>
</header>
