%header.main-header
  .logo
    = link_to "Kyle Tress", "/", class: "logo__wordmark"
    = link_to "/" do 
      = image_tag "kyle-tress-headshot-small.jpg", class: "logo__avatar"
  %nav.main-nav
    - data.nav.header.each do |nav|
      = link_to nav.title, nav.url, class: "main-nav__link" 
