.masthead
  .image_wrap
    = image_tag 'kyle-tress-headshot-small.jpg', height: 85, width: 85, class: 'masthead__image'
  %p.masthead__text Olympic athlete. Student at Yale. Rails developer at Instaviser. Interested in global affairs, strategy, data science, and the web.
