.masthead
  .image_wrap
    = image_tag 'kyle-tress-headshot-small.jpg', height: 65, width: 65, class: 'masthead__image'
  %p.masthead__text Olympic athlete. Student at Yale. Interested in data science, strategy, and history.
