---
title: Home
---

<div class="mast">
  <h1>Per aspera ad astra</h1>
  <p><strong>Kyle Tress</strong> is an Olympic athlete and undergraduate student at Yale</p>
</div>

<nav>
  <%= mail_to 'hello@kyletress.com', 'contact' %>
</nav>
