---
title: Home
---

<section class="masthead">
  <h1><strong>Kyle Tress</strong> is an Olympic skeleton athlete and a student in <a href="https://applied.math.yale.edu">Applied Mathematics</a> at Yale University.</h1>
    <p>I used to race headfirst down an ice track at 90 miles per hour. Now I'm pursuing a career in human spaceflight and astronautics. I also like coding (Ruby, Swift, and R), playing Kerbal Space Program, and reading old books.</p> 
</section>

<h3>More Information</h3>
<ul>
<li>I was interviewed for the podcast <a href="https://podcasts.apple.com/us/podcast/how-i-got-into-college/id1484905113?i=1000470734407">How I Got Into College</a>.</li>
<li>I was recently featured in a <a href="https://news.yale.edu/2020/01/14/yalies-make-their-mark-human-bullets">nice YaleNews article</a>.</li>
<li>Questions? <a href="mailto:kyle@kyletress.com">Send me an email</a></li>
</ul>
