---
title: Home
---

<div class="mast">
  <p class="bold">Kyle Tress</p>
  <p>Olympic athlete. Undergraduate in Applied Mathematics at Yale.</p>
  <%= mail_to 'hello@kyletress.com', 'kyle@kyletress.com' %>
</div>
