---
title: Reading List
---

<h1>The Reading List</h1>

<p>Finished books since October 2017. No reviews. No ratings. Inspired by <a href="https://www.theatlantic.com/entertainment/archive/2017/05/keeping-track-of-every-book-youve-ever-read/526779/">Pamela Paul</a></p>

<table class="table">
  <tr>
    <th colspan="3">October 2017 - Calgary, Lake Placid, Ewing</th>
  </tr>
  <tr>
    <td>1</td>
    <td>The Bridge: The Life and Rise of Barack Obama</td>
    <td>David Remnick</td>
  </tr>
</table>
